/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/Futura-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/Futura-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Futura';
  src: url('../../public/fonts/futura/Futura-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/Futura-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/Futura-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('/fonts/futura/Futura-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  /* font-family: "Big Shoulders Text", sans-serif; */
  font-family: 'Futura';
  font-optical-sizing: auto;
}

p, .footer-links ul li a , .checkout-form * {
  font-family: 'Poppins', sans-serif;
}
.footer-links ul li a {
  font-size: 14px;
  font-weight: 100;
}

.poppins-font{
  font-family: 'Poppins', sans-serif;
}


.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel-controls button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.carousel-controls button:hover {
  background-color: #555;
}

/*  */

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 12px;
  border-radius: 9999px;
  transition: all 0.3s ease;
  width:40px;
  height:40px;}

.hero-swiper .swiper-button-next:hover,
.hero-swiper .swiper-button-prev:hover {
  /* background-color: #ef4444; */
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-swiper .swiper-button-next::after,
.hero-swiper .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}
.hero-swiper .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 0 6px;
  transition: all 0.3s ease;
}

/* Style the active bullet */
.hero-swiper .swiper-pagination-bullet-active {
  background-color: #fff; /* Tailwind red-500 */
  opacity: 1;
  transform: scale(1.2);
}

.newproducts-swiper .swiper-button-next,
.newproducts-swiper .swiper-button-prev {
  color: black;
  background-color: #fff;
  /* padding: 12px; */
  border-radius: 50%;
  transition: all 0.3s ease;
  width:40px;
  height:40px;
}

.newproducts-swiper .swiper-button-next:hover,
.newproducts-swiper .swiper-button-prev:hover {
  background-color: #ef4444;
  color: white;
}

.newproducts-swiper .swiper-button-next::after,
.newproducts-swiper .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}

.newproducts-swiper .swiper-button-next,
.newproducts-swiper .swiper-button-prev {
  @apply hidden sm:flex;
}

@layer utilities {
  @keyframes text-spin {
    to {
      rotate: 360deg;
    }
  }

  .animate-text-spin {
    animation: text-spin 8s linear infinite;
  }
}
