/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');
/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Big Shoulders Text", sans-serif;
  font-optical-sizing: auto;
}

p {
  font-family: 'Poppins', sans-serif;
}

.poppins-font{
  font-family: 'Poppins', sans-serif;
}


.carousel-controls {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.carousel-controls button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.carousel-controls button:hover {
  background-color: #555;
}

/*  */

.hero-swiper .swiper-button-next,
.hero-swiper .swiper-button-prev {
  color: white;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 12px;
  border-radius: 9999px;
  transition: all 0.3s ease;
  width:40px;
  height:40px;}

.hero-swiper .swiper-button-next:hover,
.hero-swiper .swiper-button-prev:hover {
  /* background-color: #ef4444; */
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-swiper .swiper-button-next::after,
.hero-swiper .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}
.hero-swiper .swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  opacity: 0.5;
  margin: 0 6px;
  transition: all 0.3s ease;
}

/* Style the active bullet */
.hero-swiper .swiper-pagination-bullet-active {
  background-color: #ef4444; /* Tailwind red-500 */
  opacity: 1;
  transform: scale(1.2);
}

.newproducts-swiper .swiper-button-next,
.newproducts-swiper .swiper-button-prev {
  color: black;
  background-color: #fff;
  /* padding: 12px; */
  border-radius: 50%;
  transition: all 0.3s ease;
  width:40px;
  height:40px;
}

.newproducts-swiper .swiper-button-next:hover,
.newproducts-swiper .swiper-button-prev:hover {
  background-color: #ef4444;
  color: white;
}

.newproducts-swiper .swiper-button-next::after,
.newproducts-swiper .swiper-button-prev::after {
  font-size: 16px;
  font-weight: bold;
}

.newproducts-swiper .swiper-button-next,
.newproducts-swiper .swiper-button-prev {
  @apply hidden sm:flex;
}